<section class="content-main">

    <div class="content-header">
      <h2 class="content-title">Lista Prodotti</h2>
      <div>
        <!-- <button class="btn btn-primary" (click)="Modifica('')">
          <i class="material-icons md-plus"></i>
          Nuovo
        </button> -->
      </div>
    </div>
    <div class="card mb-4">
    
    <header class="card-header">
        <div class="row gx-3">

            <!-- <div class="col-lg-4 col-md-6 me-auto">
                <input type="text" placeholder="Cerca..." class="form-control" [(ngModel)] = "filter" (keyup.enter)="refresh()" >
            </div> -->

            <!-- <div class="col-lg-2 col-6 col-md-3">
                <select class="form-select">
                    <option>Status</option>
                    <option>Attivo</option>
                    <option>Eliminato</option>
                    <option>Tutti</option>
                </select>
            </div> -->

            <div class="col-lg-2 col-6 col-md-3">
                <select class="form-select">
                    <option>Cetegorie</option>
                    <option>Alimentari</option>
                    <option>Chimico</option>
                    <option>Freschi</option>
              </select>
            </div>

            <div class="col-lg-2 col-6 col-md-3">
                <select class="form-select">
                    <option>Mostra 20</option>
                    <option>Mostra 30</option>
                    <option>Mostra 40</option>
                </select>
            </div>
        </div>

    </header>
  
      <div class="card-body">


        <div class="table-responsive">

            <app-articoli-card></app-articoli-card>
            
            <!-- <table class="table table-hover">

                <thead>
                    <tr>
                        <th scope="col">CodArt</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Um</th>
                        <th scope="col">Pezzi</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Prezzo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data</th>
                        <th scope="col" class="text-end"> Azione </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let articolo of articoli$ | paginate: { itemsPerPage: righe, currentPage: pagina}">

                        <td class="tbl-string">{{articolo.codArt}}</td>
                        <td class="tbl-string">{{articolo.descrizione}}</td>
                        <td class="tbl-string">{{articolo.um}}</td>
                        <td class="tbl-string">{{articolo.pzCart}}</td>
                        <td class="tbl-string">{{articolo.pesoNetto}}</td>
                        <td class="tbl-string">{{articolo.prezzo | currency : 'EUR'}}</td>
                        <td class="tbl-string infoBadge">
                            <span [ngClass]="articolo.idStatoArt === '1' ? 'badge rounded-pill alert-success' : 'badge rounded-pill alert-danger'">
                                {{articolo.desStatoArt}}
                            </span>
                        </td>
                        <td class="tbl-string">{{articolo.dataCreazione | date : 'dd-MM-YYYY'}}</td>
                        <td class="text-end">
                            <button *ngIf="isAdmin" (click)="Elimina(articolo.codArt)" class="btn btn-light text-danger">Elimina</button>
                            <button *ngIf="!isAdmin" (click)="Elimina(articolo.codArt)" disabled class="btn btn-light text-danger">Elimina</button>
                            <div class="dropdown">
                                <button data-bs-toggle="dropdown" class="btn btn-light">
                                <i class="material-icons md-more_horiz"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Dettaglio</a></li>
                                    <li><a class="dropdown-item" href="#">Info</a></li>
                                    <li><a class="dropdown-item" (click)="Modifica(articolo.codArt)">Modifica</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                </tbody>

            </table> -->

         <!--  <app-spinner></app-spinner> -->
  
            <!-- <nav class="float-end mt-3" aria-label="Page navigation">
                <pagination-controls
                class="my-pagination"
                (pageChange)="pagina = $event"
                previousLabel="Precedente"
                nextLabel="Successivo">
                </pagination-controls>
            </nav> -->
  
          <!-- <div class="alert alert-danger" role="alert" *ngIf="errore">
            {{errore}}
          </div> -->
  
        </div>
      </div>
  
  
    </div>
  </section>
  
  
  <!--
  <table id="articoli" border="1">
    <caption>Alimentari</caption>
    <thead>
        <tr>
            <th>CodArt</th>
            <th>Descrizione</th>
            <th>Um</th>
            <th>Pezzi</th>
            <th>Peso(KG/LT)</th>
            <th>Prezzo</th>
            <th>Attivo</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articolo of articoli">
          <td>{{articolo.codart}}</td>
          <td>{{articolo.descrizione}}</td>
          <td>{{articolo.um}}</td>
          <td>{{articolo.pzcart}}</td>
          <td>{{articolo.peso}}</td>
          <td>{{articolo.prezzo | currency : 'EUR'}}</td>
          <td>{{articolo.active}}</td>
          <td>{{articolo.data | date : 'dd-MM-YYYY'}}</td>
      </tr>
    </tbody>
  </table>
  -->
  