<app-jumbotron [title]="title" [subtitle]="subtitle"></app-jumbotron>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-12 col-md-4 border border-1 p-4 rounded-3 mb-4">

            <div class="mb-3">
                <label for="userId" class="form-label">Email address</label>
                <input type="text" class="form-control" id="userId" placeholder="Nome Utente" [(ngModel)]=userId >
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]=password >
            </div>

            <button class="btn btn-primary w-100" (click) = getsAuth() >Submit</button>
            
        </div>
        
        <div *ngIf="!authenticated" class="alert alert-danger" role="alert">
            {{ errMessage }}
        </div>

    </div>
</div>

