<div class="text-center">

    <a href="#" class="img-wrap">
        <img src="{{articolo.imageUrl}}" class="img-rounded"  width="180" height="225" alt="Product">
    </a>

    <div class="info-wrap">
        <a href="#" class="title text-truncate">{{articolo.description}}</a>
        <div class="price mb-2">{{ articolo.prezzo | currency: 'EUR' }}</div>
    
        <!-- <button href="#" class="btn btn-sm btn-light" (click)="editArt()">
            <i class="material-icons md-edit"></i>Modifica
        </button>
        <button href="#" class="btn btn-sm btn-outline-danger" (click)="delArt()">
            <i class="material-icons md-delete_forever"></i>Elimina
        </button> -->
    </div>

</div>
  